<div class="apidocs">
  <div id="docs-main" class="content">

<h1><a href="http://lorenwest.github.com/monitor">Monitor</a></h1>
<p>Remote monitoring and control for your node.js app</p>

<p>
This contains both API and implementation documentation for the monitor package.
</p>

<p>
Class and method interfaces are documented in the modules below, with links to
the underlying implementation.
</p>

<h3><a href="modules/Monitor.html">Monitor Core</a></h2>
<p>
Classes in this module represent baseline monitor functionality.  They can
be loaded and run in a node.js container as well as within a browser.
</p>

<h3><a href="modules/Probes.html">Baseline Probes</a></h2>
<p>
The probes in this module offer baseline functionality, and provide examples
for building custom probes.
</p>

<h3><a href="modules/UnitTests.html">Core Unit Tests</a></h2>
<p>
This module contains unit test classes for each of the core classes, and
some unit tests for baseline probes.
</p>

  </div>
</div>
