<div class="apidocs">
  <div id="docs-main" class="content">

<h1>Node.js Application Monitoring</h1>
<p>Remote monitoring and control for your Node.js app</p>

<h3><a href="modules/Monitor.html">Monitor Core</a></h2>
<p>
Classes in this module represent baseline monitor functionality.  They can
be loaded and run in a node.js container as well as within a browser.
</p>

<h3><a href="modules/Probes.html">Baseline Probes</a></h2>
<p>
The probes in this module offer baseline functionality, and provide examples
for building custom probes.
</p>

  </div>
</div>
