.nm-base-probe {
  height: 100%;
  width: 100%;
  overflow: auto;
}

#nm-base-html-textarea {
  height: 225px;
}

#nm-base-html-toolbar span {
  text-align: center;
  padding: 4px 0px;
  margin: 2px;
  font-size: 16px;
  font-weight: bold;
  display: block;
  float: left;
  height: 18px;
  width: 28px;
  border: 1px solid transparent;
  border-radius: 3px;
}

#nm-base-html-toolbar span:hover {
  border: 1px solid #ccc;
  cursor: default;
}

#nm-base-html-toolbar span.miniColors-triggerWrap {
  padding: 0;
  margin-top: 5px;
  border:none;
}
#nm-base-html-toolbar span.miniColors-triggerWrap:hover {
  border:none;
}
#nm-base-html-toolbar .miniColors-trigger {
  border: 1px solid #eee;
}
#nm-base-html-toolbar .miniColors-trigger:hover {
  cursor: default;
  border: 1px solid #bbb;
}

.nm-base-html-composer {
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  background-image: none;
  margin-bottom: 5px;
  color: #555;
}
.wysihtml5-sandbox.nm-base-html-composer {
  border: 1px solid #ccc;
  height: 225px;
}

.wysihtml5-editor.nm-base-html-composer {
  padding: 4px;
  height: 223px;
}

.nm-base-html-dialog {
  clear: both;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
  background: white;
}

.nm-base-html-dialog label {
  display: inline;
}

.nm-base-html-dialog input {
  margin: 0px 10px 2px 5px;
}

.nm-base-html-dialog button {
  margin-left: 10px;
}

/* REPL Console */

.nm-base-rp {
  margin:0 0 10px 0;
}

.nm-base-rp li {
  margin:0;
  padding:0;
  height:14px;
  list-style: none;
}

.nm-base-rp * {
  font-size:11px;
  font-family: Menlo, monospace !important;
}

/* Remove the focus components */
input[type="text"]:focus.nm-base-rp-input,
.base-Repl {
  border: none;
  outline: none;
  background-color: transparent;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

input.nm-base-rp-input {
  padding: 0;
  font-size:11px;
  box-sizing: border-box;
  margin: 0 0px 1px 0px;
  background-color: transparent;
  border: 0;
  outline: none;
  color: rgba(200,183,155, 1);
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.nm-base-rp-out, .nm-base-rp-entered {
  white-space: pre;
}

.nm-base-rp-entered {
}

.nm-base-rp-suggest-line {
  margin-top:-14px !important;
  color: rgba(200,183,155, .4);
}

.nm-base-rp-lede {
  color: transparent;
}

input[type="text"].nm-base-me-desc {
  box-sizing: border-box;
  width: 100%;
  height: 2.4em;
}

.nm-base-me-lines {
  box-sizing: border-box;
  font-size: 13px;
  width: 100%;
  height: 180px;
}

.nm-base-wv {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.nm-base-wv.scroll-bars {
  overflow: auto;
}

.nm-base-wv-iframe {
  border:none;
  padding: 0;
  width: 960px;
  height: 10000px;
  overflow: hidden;
}

.nm-base-wv-input span {
  margin: 0 5px 0 34px;
  font-size: 13px;
  color: #555;
}

.nm-base-wv-example-group {
  position:relative;
  height: 200px;
  width: 100%;
  border: 1px solid #333;
  box-sizing: border-box;
}

.view-source .nm-base-wv-example-group {
  display:none;
}

.nm-base-wv-example {
  height: 100%;
  width: 100%;
  position:absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.nm-base-wv-example-mask {
  height: 100%;
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: move;
}

.nm-base-inspector-input {
  display:inline-block;
  width: 75%;
}
input.nm-base-inspector-expression {
  width: 100%;
  font-size: 12px;
}
.nm-base-inspector-depthblock {
  display: inline-block;
  margin-left: 40px;
}
.nm-base-inspector-depth {
  width: 20px;
}