<div class="title"></div>
<form>
  <div id="nm-base-html-toolbar" style="display: none;">
    <span data-wysihtml5-command="bold" title="Bold (CTRL+B)"><i class="icon-bold"></i></span>
    <span data-wysihtml5-command="italic" title="Italic (CTRL+I)"><i class="icon-italic"></i></span>
    <span data-wysihtml5-command="underline" title="Underline (CTRL+U)"><i class="icon-underline"></i></span>
    <span data-wysihtml5-command="strikethrough" title="Strikethrough"><i class="icon-strikethrough"></i></span>
    <span data-wysihtml5-command="createLink" title="Link"><i class="icon-link"></i></span>
    <span data-wysihtml5-command="insertImage" title="Picture"><i class="icon-picture"></i></span>
    <!--
    TODO: These require dropdowns
    <span data-wysihtml5-command="foreColor" data-wysihtml5-command-value="blue" title="Color"><i class="icon-table"></i></span>
    <span data-wysihtml5-command="font" title="Font"><i class="icon-font"></i></span>
    -->
    <span class="font-picker" title="Font Size"><i class="icon-text-height"></i></span>
    <input class="color-picker" title="Font Color" type="hidden" value="#555" data-opacity="1"/>
    <!--
    <span class="color-picker" title="Color"><i class="icon-th"></i></span>
    -->
    <span data-wysihtml5-command="insertUnorderedList" title="Unordered List"><i class="icon-list-ul"></i></span>
    <span data-wysihtml5-command="insertOrderedList" title="Ordered List"><i class="icon-list-ol"></i></span>
    <span data-wysihtml5-command="justifyLeft" title="Left Justify Text"><i class="icon-align-left"></i></span>
    <span data-wysihtml5-command="justifyCenter" title="Center Text"><i class="icon-align-center"></i></span>
    <span data-wysihtml5-command="justifyRight" title="Right Justify Text"><i class="icon-align-right"></i></span>
    <span data-wysihtml5-command="insertHTML" data-wysihtml5-command-value="{{}}" title="Mustache Template Tag">{{}}</span>
    <span data-wysihtml5-action="change_view" title="Show HTML" unselectable="on">&lt;/&gt;</span>

    <div class="nm-base-html-dialog" data-wysihtml5-dialog="createLink" style="display: none;">
      <label>
        Link:
        <input data-wysihtml5-dialog-field="href" value="http://">
      </label>
      <button data-wysihtml5-dialog-action="save">OK</button><button data-wysihtml5-dialog-action="cancel">Cancel</button>
    </div>

    <div class="nm-base-html-dialog" data-wysihtml5-dialog="insertImage" style="display: none;">
      <label>
        Image:
        <input data-wysihtml5-dialog-field="src" value="http://">
      </label>
      <button data-wysihtml5-dialog-action="save">OK</button><button data-wysihtml5-dialog-action="cancel">Cancel</button>
    </div>

  </div>
  <textarea id="nm-base-html-textarea" placeholder="Enter text ..."></textarea>
</form>
